<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		h1 {
			font-family: "Impact", cursive;
		}
		h2 {
			font-family: monospace;
		}
		hr.headerBreak {
			width : 30%;
			height : 1px;
			float : "center";
		}
		hr.projectBreak {
			width : 80%;
			align : "center";
		}
		br.adjuster {
			display : block;
			margin : 7.5px;
		}
		br.information {
			margin : 0.5px;
		}
		.right_forms {
			float: right;
			width: 50%;
		}
	</style>
</head>
<body>
	<hr class="headerBreak">
	<div class="w3-animate-opacity">
		<h1 align = "center">Projects</h1>
	</div>
	<hr class="headerBreak">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index">Website of Robert Lowman</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li class = "active"><a href="projects.html">Projects</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

	<div class = "container-fluid">
		<h2 align = "center">Polish Notiation Calculator</h2>
		<form method="POST" action="/projects/">
			{% csrf_token %}
			<div class = "row">
				<div class = "col-md-5">
					<b>{{ form.base.label }}</b>
					{{ form.base }}
					<div class = "form-inline">
						{{ form.equation }}
						<button type="submit">Submit</button>
					</div>
				</div>
				<br class="adjuster">
				<div class = "col-md-7">
					<b>{{ form.notation.label }}</b>
					{{ form.notation }}
					<div class="container-fluid">
  					<button	type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">More Information</button>
  					<div id="demo" class="collapse">
    					<p></p>
  					</div>
					</div>
				</div>
			</div>
		</form>
		<br>
		<b>Answer: {{ result|default:"" }}</b>
		{% if equationError %}
			<p>This Equation cannot be solved</p>
		{% elif formatError %}
			<p>{{formatError.token}} is wrong</p>
		{% elif invalidSymbol %}
			<p>An invalid symbol was given</p>
		{% endif %}
</div>

	<hr class=projectBreak>

</body>
</html>
