body{
  background-color: #ff9980;
}
h1 {
  font-family: "Impact", cursive;
}
h2 {
  font-family: monospace;
}
hr.headerBreak {
  width : 30%;
  height : 1px;
  float : "center";
}
hr.projectBreak {
  width : 80%;
  align : "center";
}
br.adjuster {
  display : block;
  margin : 7.5px;
}
br.information {
  margin : 0.5px;
}
.right_forms {
  float: right;
  width: 50%;
}
